.body {
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    text-align: center;
}

.card {
    display: flex;
    background-color: white;
    width: 220px - 260px;
    padding: 15px - 20px;
    border: 1px solid #ddd;
    border-radius: optional;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;

}

.all {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 8px;
    gap: 20px;
    justify-content: center;
    transition: 0.3s;
    transform: scale(1.05);




}

.done {
    background-color: #3498db;
    color: white;
    width: 150px;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.05);

}

.h3 {}